# EDA & Data preprocessing

## Chargement des libraries

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

## Importation des donnees

In [6]:
df_speedating = pd.read_csv('C:/Users/obiangr/OneDrive - World Health Organization/Documents/Working documents/Courses/BootCamp Jedha/FullStack/FULL_STACK_12_WEEK_PROGRAM-master/Projets/Speed Dating/Data/Speed_Dating_Data.csv', encoding="ISO-8859-1")

## Exploration des données

In [7]:
df_speedating.info() # Information génériques de la dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 195 entries, iid to amb5_3
dtypes: float64(174), int64(13), object(8)
memory usage: 12.5+ MB

In [9]:
print(df_speedating.shape) # Dimension de la dataframe
df_speedating.head(10)     # View des 10 premières entrées

(8378, 195)

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
5,1,1.0,0,1,1,1,10,7,NaN,6,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
6,1,1.0,0,1,1,1,10,7,NaN,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
7,1,1.0,0,1,1,1,10,7,NaN,2,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
8,1,1.0,0,1,1,1,10,7,NaN,8,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
9,1,1.0,0,1,1,1,10,7,NaN,9,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [27]:
## Identifier toutes les variables avec les données manquantes supérieurs à 20%
missing_data = round(100*(df_speedating.isnull().sum())/df_speedating.shape[0], 1)
remov_missing_data = missing_data[missing_data >= 20]
print(remov_missing_data)

##Les variables qui sont retirés du dataset
print(len(remov_missing_data)) #le nombre de variables
remov_missing_data.index       #les noms des variables

90

Index(['positin1', 'undergra', 'mn_sat', 'tuition', 'income', 'expnum',
       'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1',
       'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'attr1_s',
       'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s',
       'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s', 'attr7_2', 'sinc7_2',
       'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2', 'attr4_2', 'sinc4_2',
       'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr2_2', 'sinc2_2',
       'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr5_2', 'sinc5_2',
       'intel5_2', 'fun5_2', 'amb5_2', 'you_call', 'them_cal', 'date_3',
       'numdat_3', 'num_in_3', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3',
       'amb1_3', 'shar1_3', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3',
       'amb7_3', 'shar7_3', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3',
       'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3',
       'amb2_3', 'shar2_3', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3',
       'amb3_3', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'],
      dtype='object')

In [30]:
##Creation du dataset sans les variables avec plus 20% de données manquantes
df1_speedating = df_speedating.drop(remov_missing_data.index, axis = 1)
df1_speedating.head()

,iid,id,gender,idg,condtn,wave,round,position,order,partner,...,sinc1_2,intel1_2,fun1_2,amb1_2,shar1_2,attr3_2,sinc3_2,intel3_2,fun3_2,amb3_2
0,1,1.0,0,1,1,1,10,7,4,1,...,16.67,13.89,22.22,11.11,16.67,6.0,7.0,8.0,7.0,6.0
1,1,1.0,0,1,1,1,10,7,3,2,...,16.67,13.89,22.22,11.11,16.67,6.0,7.0,8.0,7.0,6.0
2,1,1.0,0,1,1,1,10,7,10,3,...,16.67,13.89,22.22,11.11,16.67,6.0,7.0,8.0,7.0,6.0
3,1,1.0,0,1,1,1,10,7,5,4,...,16.67,13.89,22.22,11.11,16.67,6.0,7.0,8.0,7.0,6.0
4,1,1.0,0,1,1,1,10,7,7,5,...,16.67,13.89,22.22,11.11,16.67,6.0,7.0,8.0,7.0,6.0

In [31]:
round(100*(df1_speedating.isnull().sum())/df1_speedating.shape[0], 1)

iid          0.0
id           0.0
gender       0.0
idg          0.0
condtn       0.0
wave         0.0
round        0.0
position     0.0
order        0.0
partner      0.0
pid          0.1
match        0.0
int_corr     1.9
samerace     0.0
age_o        1.2
race_o       0.9
pf_o_att     1.1
pf_o_sin     1.1
pf_o_int     1.1
pf_o_fun     1.2
pf_o_amb     1.3
pf_o_sha     1.5
dec_o        0.0
attr_o       2.5
sinc_o       3.4
intel_o      3.7
fun_o        4.3
amb_o        8.6
shar_o      12.8
like_o       3.0
            ...
attr3_1      1.3
sinc3_1      1.3
fun3_1       1.3
intel3_1     1.3
amb3_1       1.3
dec          0.0
attr         2.4
sinc         3.3
intel        3.5
fun          4.2
amb          8.5
shar        12.7
like         2.9
prob         3.7
met          4.5
match_es    14.0
satis_2     10.9
length      10.9
numdat_2    11.3
attr1_2     11.1
sinc1_2     10.9
intel1_2    10.9
fun1_2      10.9
amb1_2      10.9
shar1_2     10.9
attr3_2     10.9
sinc3_2     10.9
intel3_2    10.9
fun3_2      10.9
amb3_2      10.9
Length: 105, dtype: float64

In [32]:
df1_speedating.info() # Information génériques de la dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 105 entries, iid to amb3_2
dtypes: float64(88), int64(13), object(4)
memory usage: 6.7+ MB

In [33]:
df1_speedating.describe()

,iid,id,gender,idg,condtn,wave,round,position,order,partner,...,sinc1_2,intel1_2,fun1_2,amb1_2,shar1_2,attr3_2,sinc3_2,intel3_2,fun3_2,amb3_2
count,8378.000000,8377.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,...,7463.000000,7463.000000,7463.000000,7463.000000,7463.000000,7463.000000,7463.000000,7463.000000,7463.000000,7463.000000
mean,283.675937,8.960248,0.500597,17.327166,1.828837,11.350919,16.872046,9.042731,8.927668,8.963595,...,15.865084,17.813755,17.654765,9.913436,12.760263,7.125285,7.931529,8.238912,7.602171,7.486802
std,158.583367,5.491329,0.500029,10.940735,0.376673,5.995903,4.358458,5.514939,5.477009,5.491068,...,6.658494,6.535894,6.129746,5.675550,6.651547,1.371390,1.503236,1.180280,1.548200,1.744634
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,4.000000,1.000000,2.000000
25%,154.000000,4.000000,0.000000,8.000000,2.000000,7.000000,14.000000,4.000000,4.000000,4.000000,...,10.000000,15.000000,15.000000,5.000000,10.000000,7.000000,7.000000,8.000000,7.000000,7.000000
50%,281.000000,8.000000,1.000000,16.000000,2.000000,11.000000,18.000000,8.000000,8.000000,8.000000,...,16.670000,19.050000,18.370000,10.000000,13.000000,7.000000,8.000000,8.000000,8.000000,8.000000
75%,407.000000,13.000000,1.000000,26.000000,2.000000,15.000000,20.000000,13.000000,13.000000,13.000000,...,20.000000,20.000000,20.000000,15.000000,16.670000,8.000000,9.000000,9.000000,9.000000,9.000000
max,552.000000,22.000000,1.000000,44.000000,2.000000,21.000000,22.000000,22.000000,22.000000,22.000000,...,50.000000,40.000000,50.000000,22.220000,35.000000,10.000000,10.000000,10.000000,10.000000,10.000000